/**
 *@author:WangLK5
 *@Date:2019-04-11
 */
.topMain{
    text-align: right;
    padding-right: 25px;
    line-height: 60px;
}
span{
    margin-left: 20px;
}
.title{
    display: inline-block;
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}