/**
 *@author:WangLK5
 *@Date:2019-04-09
 */
.wlk-main-pop{
    box-sizing: border-box;
    position: absolute;
    border-radius: 5px;
    padding:8px;
    box-shadow: 0 0 10px #adadad;
    background-color:white;
}
.title{
    box-sizing: border-box;
    margin:4px 5px 7px 4px;
    font-weight: lighter;
    white-space: nowrap;
    font-size: 15px;
}
.button{
    display: flex;
    justify-content: center;
    button{
        box-sizing: border-box;
        margin: 0 5px;
        border:1px solid white;
        border-radius: 3px;
        font-size: 14px;
        width:40px;
        cursor: pointer;
    }
    .buttonOk{
        color:white;

    }
    .buttonCal{
        color:#adadad;
        background-color:white;
        border:1px solid #cccccc;
    }
}

.icon-top{
    position: absolute;
    bottom:-20px;
    left:50%;
    width:0;
    height: 0;
    border:12px solid transparent;
    border-top-color:white;
}
.icon-bottom{
    position: absolute;
    transform: translate(-6px);
    top:-20px;
    right:50%;
    width:0;
    height: 0;
    border:12px solid transparent;
    border-bottom-color:white;
}
.icon-left{
    position: absolute;
    transform: translateY(-6px);
    right:-20px;
    top:50%;
    width:0;
    height: 0;
    border:12px solid transparent;
    border-left-color:white;
}
.icon-right{
    position: absolute;
    transform: translateY(-6px);
    left:-20px;
    top:50%;
    width:0;
    height: 0;
    border:12px solid transparent;
    border-right-color:white;
}