/**
 *@author:WangLK5
 *@Date:2019-04-10
 */

.backTop{
    display: inline-block;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    border-radius: 25px;
    padding: 5px 10px;
}